/* Global Styles */
	body,html {
    padding: 0;
    margin: 0;
    background: #222222;
    color: white;
    font-size: medium;
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
	}

    a:link {
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in;
    }

    a:visited {
    color: #fff;
    text-decoration: none;
    }

    a:hover {
    color: #c2c2c2;
    text-decoration: none;
    transition: all .2s ease-in;
   }

    a:active {
    color: #c2c2c2;
    text-decoration: none;
    }
    
    .detalImagePreviewTable a:hover, .whatWedoImage a:hover {
    background-color: rgba(255,255,255,0.4);
    }

    .footerContainer a:link, .footerContainer a:visited {
    color: #7b7b7b;
    text-decoration: none;
    }

    .footerContainer a:hover {
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in;
    }

    /* Should contain every div. Isn't it called wrap? oh well, warp speed mr sulu */
    .warper {
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    }

    .maxWidth {
    max-width: 1920px;
    margin: auto;
    }

    .woodbg {
    background-image: url("images/backg.jpg");
    background-size: cover;
    background-color: #e0b485;
    }

    .whitebg {
    background-color: #fbf7f7;
    }

    .whitebgWithTree {
    background-color: #fbf7f7;
    background-image: url("images/treebackg2.svg");
    background-position: center;
    background-repeat: no-repeat;
    }

    .whitebgWithWood {
    background-color: #f5f4f4;
    }

    .whitewoodbg {
    background-image: url("images/treebackg.svg");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f5f4f4;
    }

    .graybg {
     background-color: #ececec;
    }

    .brownbg {
    background-color: #57371f;
    }

    .blackbg {
    background-image: url("images/darkwoodbackg.jpg");
    background-size: cover;
    background-color: #0d0b09;
    }

    .centered {
    text-align: center;
    }

    #menu {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: right;
    position: fixed;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.96rem;
    background: rgba(35,35,35,0.8);
    z-index: 10;
    transition: all .2s ease-in;
    }

    #menu:hover {
    opacity: 1 !important;
    }

	#menu span {
    margin-right: 4%;
    }

    #mobileMenuButton {
    cursor: pointer;
    color: #000;
    }

    #headerContainer { 
    max-width: 24rem;
    margin-left: 4rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    }

    #headerRow1 {
    font-family: "Oswald", sans-serif;
    font-size:2.56rem;
    text-align: center;
    color: #000;
    }

    #headerRow2 {
    font-family: "Roboto", sans-serif;
    font-size:0.96rem;
    text-align: center;
    padding: 0.16em 0em 0.16em 0rem;
    background: rgba(0,0,0,0.5);
    letter-spacing: 0.1rem;
    color: #fff;
    }

    #headerRow3 {
    font-family: "Titillium Web", sans-serif;
    font-size: 0.96rem;
    padding: 0.4em 0.4em 0.4em 0.4rem;
    background: rgba(0,0,0,0.2);
    color: #fff;
    }

    #logo {
    width: 14rem;
    height: auto;
    margin-top: 6rem;
    margin-left: -7rem;
    }

/*
one hell of a crossfade hack, problem: cant use absolute divs on top of each other cause layout done with floats.
Solution: divs nested inside each other, so f1 -> f2 -> f3, are all nested, no contect and only have backgrounds.
Problem: crossfade will also fades child, so fading f2 will also fades f3 out.
Solution: 2 separate animatons, where f2 fades in, stays, f3 fades on top, f2 fades out, makes it look like f3 faded to f1.
*/

@keyframes fadeOne{
    0% {opacity: 0;}  
    23% {opacity: 0;} 
    38% {opacity: 1;} 
    84% {opacity: 1;}
    100% {opacity: 0;}
    }    

@keyframes fadeTwo {
    0% {opacity: 0;}  
    53% {opacity: 0;} 
    69% {opacity: 1;} 
    100% {opacity: 1;}
    }

@keyframes fadeButton {
    0% {opacity: 1;}  
    50% {opacity: 0;} 
    75% {opacity: 0;} 
    100% {opacity: 1;}
    }

    .EaseOut {
    animation-name: fadeButton;
    animation-iteration-count: 1;
    animation-duration: .5s;
    }

    .workshopImage {
    height: 22rem;
    background-position: center;
    }

    #f1 {
    background-image: url("images/workshoplife-4.jpg");
    background-color: #836d53;
    }
    
    #f2 {
    animation-name: fadeOne;
    animation-iteration-count: infinite;
    animation-duration: 24s;
    background-image: url("images/workshoplife-3.jpg");
    background-color: #846b58;
    }
    
    #f3 {
    animation-name: fadeTwo;
    animation-iteration-count: infinite;
    animation-duration: 24s;
    background-image: url("images/workshoplife-5.jpg");
    background-color: #9d8377;
    }

    #workshopText {
    max-width: 45rem;
    min-width: 20.25rem;
    margin: 1rem 1.6rem 1rem 2.4rem;
    min-height: 17rem;
    }


    #workshopTextBody {
    font-family: "Roboto", sans-serif;
    display: block;
    color: #000;    
    font-size:0.9rem;
    }

    #workshopTextBody span {
    display: block;
    }

    h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 0.96rem;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    color: #fff;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-align: center;
    }

    .spanspacer {
    margin-bottom: 0.5rem;
    display: inline-block;
    }

    #whatWeDo {
   	font-family: "Oswald", sans-serif;
    font-size:2.56rem;
    text-align: center;
    display: block;
    color: #5a4836;
   	margin-top: 0.4rem;
    }

    .whatWeDoContainer {
    margin-left: 4rem;
    margin-right: 4rem;
    }

	.whatWeDoHeader {
	font-family: "Roboto", sans-serif;
    font-size:1.2rem;
    display: block;
    color: #5a4836;
    margin-top: 0.86rem;
    margin-bottom: 0.6rem;
	}

    .whatWeDoHeader:hover {
    color: #c2c2c2;
    text-decoration: none;
    transition: all .2s ease-in;
   }

    .whatWeDoHeader:active {
    color: #c2c2c2;
    text-decoration: none;
    }

	.whatWeDoText {
	font-family: "Roboto", sans-serif;
    display: block;
    color: #000;	
    font-size:0.9rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    height: 3rem;
	}

    .whatWeDoText:hover {
    color: #575757;
    text-decoration: none;
    transition: all .2s ease-in;
   }

	.whatWedoImage {
 	background-size: cover;
  	background-position: center;
  	width: 100%;
  	height: 12rem;
  	margin-bottom: 1.6rem;
	}

    .whatWedoImage a {
    width: 100%;
    height: 100%;
    display: block;
    }

    .ActualImage1 {
    background-image: url("images/cnc-machine.jpg");
    background-color: #706f66;
    }

    .ActualImage2 {
    background-image: url("images/co2-laser-cutter.jpg");
    background-color: #706f66;
    }

    .ActualImage3 {
    background-image: url("images/woodwork-machine.jpg");
    background-color: #706f66;
    }

    .ActualImage4 {
    background-image: url("images/cad-cam.jpg");
    background-color: #706f66;
    }

	.detailContainer {
	margin-left: 4rem;
	margin-top: 1.6rem;
	}

	.detailHeader, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 0.5rem;
    font-family: 'Oswald', serif;
    color: #5a4836;;
    font-size: 1.44rem;
    text-transform: uppercase;
    font-weight: normal;
    } 

    

    .detailSubHeader {
    font-family: "Roboto", sans-serif;
    font-size:1.2rem;
    color: #5a4836;
    margin-bottom: 0.5rem;
    }

    .DetailText {
    font-family: "Roboto", sans-serif;
    color: #000;	
    font-size:0.9rem;
    }

    .DetailTextList {
    float: left;
    width: 40%;
    }

    .DetailTextLong {
    margin-right: 4rem;
    }

    .DetailText p {
 	margin: 0rem;
    }

    #detalImageContainer {
  	height: 30rem;
	margin: 2.4rem 4rem 2rem 4rem;
    }

    .detalImagePreviewTableContainer {
    height: 30rem;
    }

    .detalImagePreviewTable {
    width: 100%;
    height: 100%;
    padding: 1.6rem 4rem 2rem 4rem;
    background-size: cover;
    background-position: center;
    }

    .detalImagePreviewTable a {
    width: 100%;
    height: 100%;
    display: block;
    }

    #cncDetalImagePreviewLarge {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/cnc-wood-letters.jpg");
    background-color: #a7ccd9;
    }

    #cncDetalImagePreview1 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-cnc-box.jpg");
    background-color: #a7ccd9;
   }

    #cncDetalImagePreview2 {
    height: 50%; 
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-cnc-items.jpg");
    background-color: #a7ccd9;
    }

    #cncDetalImagePreview3 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-love-text.jpg");
    background-color: #a7ccd9;
    }

    #cncDetalImagePreview4 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-cnc-brigi.jpg");
    background-color: #a7ccd9;
    }

    #cncDetalImagePreview5 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-cnc-xmastree.jpg");
    background-color: #a7ccd9;
    }

    #cncDetalImagePreview6 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/cnc-mdf-dogs.jpg");
    background-color: #a7ccd9;
    }

    #coLaserDetalImagePreviewLarge {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/blue-laser-wood-engrave-2.jpg");
    background-color: #a7ccd9;
    }

    #coLaserdetalImagePreview1 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-coin-holder.jpg");
    background-color: #a7ccd9;
    }

    #coLaserdetalImagePreview2 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/laser-engraved-leather.jpg");
    background-color: #a7ccd9;
    }

    #coLaserdetalImagePreview3 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-laser-clock.jpg");
    background-color: #a7ccd9;
    }

    #coLaserdetalImagePreview4 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/laser-wedding-house.jpg");
    background-color: #a7ccd9;
    }

    #coLaserdetalImagePreview5 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/laser-locket-ceremony.jpg");
    background-color: #a7ccd9;
    }

    #coLaserdetalImagePreview6 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/laser-paper-y.jpg");
    background-color: #a7ccd9;
    }

    #woodWorkDetalImagePreviewLarge {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-lathe-mushrooms.jpg");
    background-color: #a7ccd9;
    }

    #woodWorkDetalImagePreview1 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-toy-train.jpg");
    background-color: #a7ccd9;
    }

    #woodWorkDetalImagePreview2 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-cnc-sledge.jpg");
    background-color: #a7ccd9;
    }

    #woodWorkDetalImagePreview3 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-shelf.jpg");
    background-color: #a7ccd9;
    }

    #woodWorkDetalImagePreview4 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-cnc-solitarie.jpg");
    background-color: #a7ccd9;
    }

    #woodWorkDetalImagePreview5 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/art-easel.jpg");
    background-color: #a7ccd9;
    }

    #woodWorkDetalImagePreview6 {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("images/woodwork-fence.jpg");
    background-color: #a7ccd9;
    }

/* products new parts 
heeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeerrrreeeeeee
 */

    #products {
    font-family: "Oswald", sans-serif;
    font-size:2.56rem;
    text-align: center;
    display: block;
    color: #5a4836;
    margin-top: 0.4rem;
    }

    .productsContainer {
    max-width: 18rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    }

    .productsImage {
    border-radius: 12rem;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    height: 12rem;
    transition: 0.3s
    }

    .productsImage:hover {
    border-radius: 2rem;
}

    .productsImage a {
    width: 100%;
    height: 100%;
    display: block;
    }

    .productsHeader {
    font-family: "Oswald", sans-serif;
    font-size:1.44rem;
    display: block;
    text-transform: uppercase;
    font-style: italic;
    color: #bf9861;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    }

    .productsText {
    font-family: "Roboto", sans-serif;
    display: block;
    color: #000;    
    font-size:0.9rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    }

    .productsTextPrice {
    font-family: "Roboto", sans-serif;
    display: block;
    color: #bf9861;    
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    }

    .productsOrder {
    font-family: "Oswald", sans-serif;
    display: block;
    color: #000;    
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    }


    #productimage1 {
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-cnc-solitarie.jpg");
    background-color: #a7ccd9;
    }

    #productimage2 {
    background-size: cover;
    background-position: center;
    background-image: url("images/wood-toy-train.jpg");
    background-color: #a7ccd9;
    }



    .operationsMaxWidt {
    max-width: 1700px;
    }

    .operationsContainer {
    max-width: 40rem;
    height: 12rem;
    margin: 3rem auto 1rem 4rem;
    border-collapse: collapse;
    }

    .operationsContainerRight {
    margin: 9rem 4rem 1rem auto;
    }

    .operationsTextLeft {
    text-align: left !important;
    }

    .operationsImage {
    width: 12rem;
    border-radius: 12rem;
    background-size: cover;
    background-position: center;
    }

    #domesticImageLeft, #domesticImageRight {
    background-image: url("images/commercial-cnc-machining.jpg");
    background-color: #a7ccd9;
    }

    #domesticImageLeft {
    display: none;
    }

    #commercialImage {
    background-image: url("images/glass-holder.jpg");
    background-color: #a7ccd9;
    }

    #industrialImage {
    background-image: url("images/industrial-cnc-machining.jpg");
    background-color: #a7ccd9;
    }

    .operationsTextContainer {
    vertical-align: top;
    }

    .operationsTextHeader {
    font-family: 'Oswald', serif;
    color: #000;	
    font-size:1.44rem;
    text-align: right;
    margin: 0rem 1rem;
    }

    .operationsText {
    margin: 0rem 1.5rem 0rem 1.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    color: #000;
    text-align: justify;
    }

    #contactUsWood {
    overflow: hidden;
    height: 16rem;
    background-size: cover;
    background-image: url("images/woodtexture.jpg");
    background-color: #a98054;
    }

    #contactUsTriangle {
	width: 0; 
	height: 0; 
	border-bottom: 16em solid #57371f; 
	border-right: 16em solid transparent;
    }

    #contactUsContainer {
    display: inline-block;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
    }

    #contactUsHeader:hover, #contactUsFooter:hover, #mobileMenuButton:hover {
    color: #c2c2c2 !important;
    text-decoration: none;
    transition: all .2s ease-in;
   }

    #contactUsHeader:active {
    color: #c2c2c2;
    text-decoration: none;
    }

    #contactUsFooter {
    cursor: pointer;
    }

    .disappearGracefully {
    opacity: 0;
    transition: all .2s ease-in;
    }
   
    #contactUsHeader {
    font-family: 'Oswald', serif;
    display: block;
    color: #fbf7f7;	
    font-size:2.56rem;
    font-style: italic;
    }

    #contactUsSubHeader {
    font-family: "Titillium Web", sans-serif;
    font-size:1.2rem;
    display: block;
    color: #be9150;
    margin-top: 0.5rem;
    }

    #contactUsText {
    font-family: "Titillium Web", sans-serif;
    font-size:1.2rem;
    display: block;
    color: #fbf7f7;
    }

    #contactUsText p {
    text-align: left;
    margin: 0;
    }

    c1 {
    color: #000;
    }

    c2 {
    color: #bf9861;
    }

    .footermaxwidth {
    margin: auto;
    max-width: 1280px;
    min-height: 25rem;
    }
    
	.footerContainer {
	font-family: "Titillium Web", sans-serif;
    font-size: 1rem;
	margin: 4rem auto 1rem auto;
	display: inline-block;
	text-align: left;
	color: #7b7b7b;
    height: 21rem;
    width: 80%;
    overflow: hidden;
	}

    .bottomLineText {
    font-family: "Titillium Web", sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #7b7b7b;
    }

	.footerContainer p {
	padding: 0em 1em 1em 1rem;
	border-bottom: 1px #383838 solid;
	}

	f1 {
	font-size:1.2rem;
    color: #bf9861;
    }

    f2 {
    color: #bf9861;
    }

    f3 {
    color: #bf9861;
    }


/* Responsive design break points */



@media (min-width: 1367px) {

     #contactUsContainer { margin-top: 5rem; }
     .centered-xl {
        margin: auto;
        text-align: center;
        }
    #domesticImageLeft { display: table-cell; }
    #domesticImageRight { display: none; }

    .xl-25 {
        float: left;
        width: 25%;
        }
    
    .xl-50 {
        float: left;
        width: 50%;
        }
    
    .xl-75 {
        float: left;
        width: 75%;
        }
    
    .xl-100 {
        float: left;
        width: 100%;
        }
}

@media (min-width: 769px) and (max-width: 1366px) {
    
     #contactUsContainer { margin-top: 5rem; }
    .operationsContainerRight, .operationsContainerRight-md { margin: 3rem 4rem 1rem auto; }
    .operationsTextResponsiveLeft {text-align: left !important;}

    .centered-md {
        margin: auto;
        text-align: center;
    }
    /* simple responsive grid */
    
    .md-25 {
        float: left;
        width: 25%;
        }
    
    .md-50 {
        float: left;
        width: 50%;
        }
    
    .md-75 {
        float: left;
        width: 75%;
        }
    
    .md-100 {
        float: left;
        width: 100%;
        }
    
}

@media (min-width: 481px) and (max-width: 768px) {

    #headerContainer { 
    margin: 8rem auto 1rem auto; 
    display: block;
    }

    #logo {
    margin: 2rem auto 2rem auto; 
    display: block;
    }

    #menu span { display: block; }

    #workshopText { margin-left: 1rem; margin-right: 1rem; }

    .operationsContainer { margin: 3rem 1rem 1rem 1rem; }
    .operationsContainerRight, .operationsContainerRight-ms { margin: 3rem 1rem 1rem auto; }
    .whatWeDoContainer { margin-left: 0rem; margin-right: 0rem; }
    .whatWeDoHeader, .whatWeDoText, .detailContainer { margin-left: 1rem; margin-right: 1rem; }
    .detalImagePreviewTable { padding: 1.6rem 0rem 2rem 0rem; }
    #contactUsWood { height: 8rem; }
    #contactUsTriangle { display: none; }
    .footerContainer { margin: 1rem auto 1rem auto; }
    .operationsTextResponsiveLeft {text-align: left !important;}
    .mobileMenu span { margin-top: 2rem; z-index: 11; }

    .centered-ms {
        margin: auto;
        text-align: center;
        }
        
    .ms-25 {
        float: left;
        width: 25%;
        }
    
    .ms-50 {
        float: left;
        width: 50%;
        }
    
    .ms-75 {
        float: left;
        width: 75%;
        }
    
    .ms-100 {
        float: left;
        width: 100%;
        }
}

@media (max-width: 480px) {

    #headerContainer { 
    margin: 6rem auto 1rem auto; 
    display: block;
    }

    #logo {
    margin: 1rem auto 2rem auto; 
    display: block;
    }

    #menu span { display: block; }

    #workshopText { margin-left: 1rem; margin-right: 1rem; }
    .operationsContainer, .operationsContainerRight, .operationsContainerRight-ms { margin: 1rem; }
    .operationsText, .operationsTextHeader { margin: 0rem;}
    .whatWeDoContainer { margin-left: 0rem; margin-right: 0rem; }
    .whatWeDoHeader, .whatWeDoText, .detailContainer { margin-left: 1rem; margin-right: 1rem; }
    .detalImagePreviewTable { padding: 1.6rem 0rem 2rem 0rem; }
    #contactUsWood { height: 8rem; }
    #contactUsTriangle { display: none; }
    .footerContainer { margin: 0rem; height: auto; }
    .operationsImage { display: none;}
    .operationsTextResponsiveLeft {text-align: left !important;}
    .mobileMenu span { margin-top: 2rem; z-index: 11; }
    
    .centered-s {
        margin: auto;
        text-align: center;
    }
    
    .s-25 {
        float: left;
        width: 25%;
        }
    
    .s-50 {
        float: left;
        width: 50%;
        }
    
    .s-75 {
        float: left;
        width: 75%;
        }
    
    .s-100 {
        float: left;
        width: 100%;
        }
}

/* *{box-shadow:inset 0px 0px 0px 1px #762c2c; } */
